<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
          Trusted by the UK's best SME's
        </h2>
        <p class="mt-4 text-lg/8 text-gray-600">Training the future of Tech talent</p>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-600">Percentage of distinctions per year</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">50%</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-600">Percentage Completion Rate</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">93%</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-600">Employment Rate</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">99.9%</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm/6 font-semibold text-gray-600">Upskilled Teams</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">100%</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
