---
layout: null;
import navigation from "../data/navigation.json";
import Head from "../components/Head.astro";
//import Modals from "../components/Modals.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const title = "The Coders Guild";

const { description, metaDescription, excerpt } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    <!-- SEO Metadata -->
    <Head
      title={title}
      description={description}
      metaDescription={metaDescription ? metaDescription : "Please set a meta description in Sanity"}
    />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KQ9NJWF"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >

    <a class="sr-only" href="#main">Skip to content</a>

    <div id="wrapper" class="wrapper md:pb-0 flex flex-col relative min-h-screen">
      <!-- <Modals /> -->
      <slot />
      <Footer footerNav={navigation.footer} socialLinks={navigation.social_links} />
    </div>
  </body>
</html>
